* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
}

.nav-header {
  background-color: gray;
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-shield {
  width: 100%;
  height: 55px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn-group {
  margin: 0 20px;
  padding: 10px 0;
}

.btn {
  background-color: black;
  border: 3px solid #444444;
  border-radius: 2px;
  color: white;
  font-family: verdana;
  padding: 6px 20px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s background-color ease-in-out;
}

.btn:hover {
  background-color: red;
  transition: 1s background-color ease-in-out;
}

.aboutalign {
  margin-left: 17vw;
}

h2 {
  text-align: center;
  margin: auto
}

.article {
  margin-top: 5%;
  margin-left: 1vw;
}

.indent {
  /*margin-left: 3vw;*/
  width: 40%;
}

.indent-wrap {
  display: block;
  width: 100%;
  text-indent: 25px;
  text-align: justify;
  word-wrap: break-word;
}

.pikabox {
  /*margin-left: 20vw;*/
  margin-top: 5vh;
  width: 40%;
}

h3 {
  text-align: center;
  margin: auto;
}

.pika {
  display: block;
  height: auto;
  width: 500px;
  max-width: 100%;
  min-width: 100px;
  margin-left: 250%;
  animation: run 5s linear infinite;
}

.footer {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: gray;
}



@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100vw - 500px));
  }
}

@media only screen and (max-width: 480px) {
  /*.nav-header .btn {
    display: none;
  }*/
  .indent {
    width: 90%;
    margin-right: 10px;
  }
  .pikabox {
    width: 90%;
    margin-right: 10px;
  }
  .pika {
    display: block;
    height: auto;
    width: 500px;
    max-width: 100%;
    min-width: 100px;
    margin-left: 120%;
    animation: run 5s linear infinite;
  }
}

@media only screen and (max-width: 768px) {}

@media screen and (max-width: 992px) {}
